---
---
<footer class="footer">
    <p>&copy; 2025 Mi Portafolio. Todos los derechos reservados.</p>
</footer>

<style>
    .footer {
        background-color: #65c0d5;
        color: white;
        text-align: center;
        padding: 30px 0;
        border-top: 4px solid #cef6ff;

    }

    .footer p {
        margin: 0;
        font-size: 14px;
    }
</style>